jupyter-book
matplotlib
pandas
seaborn
scikit-learn
mlxtend
plotly
openpyxl
patsy
xgboost
python-dotenv
pymssql
jupytext
nbclient
sphinx-click
sphinx-examples
sphinx_inline_tabs
sphinx-exercise
sphinx-togglebutton